body
{
    font-family: Arial, Helvetica, sans-serif;
    
}
.t{
    width: fit-content;
    font-size: 30px;
    margin-left: -40px;
    transition: 0.3s all;
    animation: paraLeft 1s forwards;
}
#d1
{
    font-style: italic;
    color:black;
    margin: 15px;
}
#d2
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: oblique;
    padding: 20px;
    padding-right: 100px;
    padding-bottom: 5px;
    text-decoration: none;
    transition: 0.3s all;
    animation: paraRight 1s forwards;
}
#id1
{
    color: white;
    font-size: 20px;
}
#id2
{
    background-color: rgba(115, 106, 106, 0.5);
    color: white;
    font-size: 20px;
    padding: 100px;
    margin: 50px;
    
}
#id3
{
    height: 500px;
    margin: 50px;
    color: white;
    font-size: 25px;
    padding-top: 30px;
    background-color:rgba(115, 106, 106, 0.5) ;

}
#id4
{
    font-size: 25px ;
    margin: 50px;
    padding-top: 30px;
    background-color:rgba(115, 106, 106, 0.5) ;

}
#id5
{
    font-size: 25px ;
    margin: 50px;
    padding-top: 30px;
    background-color:rgba(115, 106, 106, 0.5) ;
}